/Spencer/Resourses/Art/Thumbs.db
/Spencer/Resourses/Art/Thumbs.db.LOCAL.db
/Spencer/Resourses/Art/Thumbs.db.REMOTE.db
/Spencer/Resourses/Art/Thumbs.db.BASE.db
/Spencer/Resourses/Art/Thumbs.db.REMOTE.db.meta
/Spencer/Resourses/Art/Thumbs.db.BASE.db.meta
/Spencer/Resourses/Art/Thumbs.db.LOCAL.db.meta
*.meta
